{%extends 'posts/base.html'%} 
{% load static %}

{% block container %}
<h1>Category   {{ cats }} </h1>
    {% comment %} <div style="position:relative ;top:-800px" class="m-5"> 
      <h2 class="m-5">See Also in <b class=" text-warning">{{category.cat_name}}<b></h2>
      <ul>
      {% for l in category.cat_lib.all %}
          {% if l.id != category.id %}
      <li class=" m-5 text-info"><a href="{{l.show_url}}">{{l}}<a></li>
      {% endif %}
      {% endfor%}
      </ul> 
    </div>{% endcomment %}
 <p> {{ category_posts }}</p>
 
  
{% endblock %}

  
   
