{% extends 'base.html' %}

{%block title%} Home {% endblock %}

{% block body %}
<style>
.pagination {
    margin: 50px 0;
    padding-bottom: 50px;
  }
  
  .pagination-list {
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .pagination-list li a,
  .pagination-list li span {
    display: block;
    padding: 10px 15px;
    border: 1px solid #E0E3E8;
    text-decoration: none;
    border-radius: 5px;
    background: #FFF;
    color: black;
    user-select: none;
    transition: box-shadow 0.5s;
  }
  .pagination-list li a:hover,
  .pagination-list li span:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }
  
  .pagination-list .previous a,
  .pagination-list .next a {
    color: #C7CDD5;
  }
  
  .pagination-list .current span {
    color: #fff;
    background-color: rgb(30, 32, 92);
  }
  
  .pagination-list .previous span,
  .pagination-list .next span {
    background: #BDC2C8;
    color: #D6D9DD;
    border: 1px solid #BDC2C8;
  }
  </style>
    <!-- side bar -->
    <div>
        <div class="container">
            <h1 class="text-center"> {{title}}</h1>
            <div class="row">
                <div class="col-lg-4 col-sm-auto col-5">
                    <div id="searchbar">
                        <div class="search-box">
                            <!-- Search form -->
                            <form action="{% url 'home' %}" method="GET">
                                <button class="btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                <input type="text" name="q" class="input-search" placeholder="Search...">
                                <input type="submit" hidden />
                            </form>
                        </div>
                    </div>

                    <div class="categories">
                        <div class="cont">
                            <h5>Categories</h5>
                            {% if messages %}
                            {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                            {% endfor %}
                            {% endif %}
                            <ul class="list-group list-group-flush">
                                {% for cat in categories %}
                                <li class="list-group-item d-flex flex-column flex-lg-row">
                                    <a href="{% url 'show_category' cat.id %}" class="btn btn-outline-light">{{cat.name}}</a>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'subscribe' cat.id %}" class="text-center">
                                            <button class="btn btn-secondary btn-sm subscribe">
                                                {% if cat in user.subscribed_categories.all %} 
                                                UNSUBSCRIBE
                                                {% else %}
                                                SUBSCRIBE
                                                {% endif %}
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'subscribe' cat.id %}" class="text-center">
                                            <button class="btn btn-secondary btn-sm subscribe">SUBSCRIBE</button>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- body block -->
                <div class="col">
                    <div class="row">
                        <!-- Posts -->
                        {% if not object_list %}
                        <h2 class="text-center">No Posts</h2>
                        {% endif %}
                        {% for obj in object_list %}
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <a href="{% url 'postinfo' obj.id %}" class="">
                                    <img src="{{ obj.get_image_url }}" class="card-img-top card-img" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">{{obj.title}}</h5>
                                    <!-- display part of the post content -->
                                    <p class="card-text">{{ obj.content | truncatechars:"100" }}</p>
                                    <!-- category || created at -->
                                    <p class="card-text"><small class="text-muted">{{obj.category_id}} || {{obj.created_at}}</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <ul class="pagination-list m-5">
            <li class="previous">
                {% if page_obj.has_previous %}
                    <a href="/?page={{ page_obj.previous_page_number }}" style="color:black">&lt;</a>
                {% endif %}
            </li>
            <li class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </li>
            <li class="next">
                {% if page_obj.has_next %}
                    <a href="/?page={{ page_obj.next_page_number }}" style="color:black">&gt;</a>
                {% endif %}
            </li>
        </div>
    {% endif %}
    </div>

{% endblock %}

