{% extends 'base.html' %}

{%block title%} Home {% endblock %}

{% block body %}
    <!-- side bar -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-auto col-auto">
                    <div class="categories">
                        <div class="cont">
                            <h5>Categories</h5>
                            {% if messages %}
                            {% for message in messages %}
                            <p {% if message.tags %} class="{{ message.tags }} text-center" {% endif %}>{{ message }}</p>
                            {% endfor %}
                            {% endif %}
                            <ul class="list-group list-group-flush">
                                {% for cat in categories %}
                                <li class="list-group-item d-flex flex-column flex-lg-row">
                                    <a href="#" class="btn btn-outline-light">{{cat.name}}</a>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'subscribe' cat.id %}" class="text-center">
                                            <button class="btn btn-secondary btn-sm subscribe">
                                                {% if cat in user.subscribed_categories.all %} 
                                                UNSUBSCRIBE
                                                {% else %}
                                                SUBSCRIBE
                                                {% endif %}
                                            </button>
                                        </a>
                                    {% else %}
                                        <a href="{% url 'subscribe' cat.id %}" class="text-center">
                                            <button class="btn btn-secondary btn-sm subscribe">SUBSCRIBE</button>
                                        </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <!-- body block -->
                <div class="col">
                    <div class="row">
                        <!-- Posts [5] -->
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <a href="#">
                                    <img src="http://yallabook.com/blog/uploade/files/201123_254aca7e13.jpg"
                                        class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Post title</h5>
                                    <!-- display part of the post content -->
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <!-- category || created at -->
                                    <p class="card-text"><small class="text-muted">Travel || OCT 13, 2000</small>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <a href="#">
                                    <img src="http://yallabook.com/blog/uploade/files/201123_254aca7e13.jpg"
                                        class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Post title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Travel || OCT 13, 2000</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <a href="#">
                                    <img src="http://yallabook.com/blog/uploade/files/201123_254aca7e13.jpg"
                                        class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Post title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Travel || OCT 13, 2000</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <a href="#">
                                    <img src="http://yallabook.com/blog/uploade/files/201123_254aca7e13.jpg"
                                        class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Post title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Travel || OCT 13, 2000</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <a href="#">
                                    <img src="http://yallabook.com/blog/uploade/files/201123_254aca7e13.jpg"
                                        class="card-img-top" alt="...">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title">Post title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to
                                        additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Travel || OCT 13, 2000</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--     PAGINATION     -->
            <div class="pagination"></div>
        </div>
    </div>
<style>

</style>
{% endblock %}

